PORT = 8000
MONGODB_URI = mongodb+srv://avishek:<db_password>@cluster0.rbadsgq.mongodb.net
ACCESS_TOKEN_SECRET= your_code
ACCESS_TOKEN_EXPIRY= time
REFRESH_TOKEN_SECRET= your_code
REFRESH_TOKEN_EXPIRY= time
CLOUDINARY_CLOUD_NAME = yourcloudname
CLOUDINARY_API_KEY = yourkey
CLOUDINARY_API_SECRET = yoursecret